@model List<WebShopClient.Models.ResponseModels.Product>

@{
    ViewData["Title"] = "Products by Category";
}

<h1>@ViewData["Title"]</h1>

@if (Model == null || !Model.Any())
{
    <p>No products found for this category.</p>
}
else
{
    <div class="product-list">
        @foreach (var item in Model)
        {
            <div class="product-info">
                @if (item.Categories != null && item.Categories.Any())
                {
                    <h6 class="product-category">
                        @foreach (var category in item.Categories)
                        {
                            <a asp-action="Category" asp-route-category="@category.Name">@category.Name</a>
                            @if (!category.Equals(item.Categories.Last()))
                            {
                                <span>,</span>
                            }
                        }
                    </h6>
                }
                <h6 class="product-title text-truncate"><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h6>
                <div class="d-flex flex-wrap justify-content-between align-items-center py-2">
                    <div class="d-flex price">
                        <div class="new-price text-danger">@item.Price</div>
                    </div>
                    <form method="post" asp-controller="ShoppingCarts" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@item.Id" />
                        <input type="hidden" name="productName" value="@item.Name" />
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="quantity" value="1" /> <!-- Assuming default quantity is 1 -->
                        <button type="submit" class="btn btn-primary">Add to cart</button>
                    </form>
                </div>
            </div>
        }
    </div>
}
