@model WebShopClient.Models.ResponseModels.Customer
<h1>@Model.FirstName @Model.LastName</h1>

@if (Model.Orders == null || Model.Orders.Count == 0)
{
    <p>You currently have no orders.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Order Number</th>
                @* <th>Ordervärde</th> *@
                <th>Product</th>
                <th>Status</th>
                <th>Shippment Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.Id</td>
                  @*   <td>@order.TotalSum</td> *@
                    <td>
                        @if (order.OrderProducts != null && order.OrderProducts.Any())
                        {
                            <ul class="list-unstyled">
                                @foreach (var product in order.OrderProducts)
                                {
                                    <li>x@(@product.Quantity) @product.ProductName - @product.Price kr</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No products</p>
                        }
                    </td>
                    <td>@(order.IsPaid ? "Paid" : "Not Paid")</td>
                    <td>
                        @if (order.Shipment != null)
                        {
                            <p>Shipped Date: @order.Shipment.ShippedDate.ToString("yyyy-MM-dd")</p>
                            <p>Estimated Delivery Date: @(order.Shipment.DeliveryDate.HasValue ? order.Shipment.DeliveryDate.Value.ToString("yyyy-MM-dd") : "N/A")</p>
                            <p>Address: @order.Shipment.ShippingAddress.Street, @order.Shipment.ShippingAddress.City</p>
                        }
                        else
                        {
                            <p>Bearbetas</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
